.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100dvh;
  background-color: var(--background-color);

  .profile_picture {
    border-radius: 50%;
    max-width: 300px;
    max-height: auto;
    border: 4px solid var(--secondary-color);
  }

  .info {
    text-align: center;
    gap: 10px;

    p {
      font-size: 20px;
      max-width: 150ch;
      color: var(--text-color);
    }
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;
    a {
      margin: 0;
      transition: transform 200ms ease-in-out;

      img {
        width: 50px;
        height: 50px;
      }
    }

    a:hover {
      transform: scale(1.05);
    }
  }
  .resume {
    margin-top: 20px;
    background-color: var(--btn-color);
    color: var(--btn-text-color) !important;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 200ms ease-in-out, background-color 200ms ease;

    a {
      color: var(--btn-text-color);
      /* background-color: var(--btn-text-color) !important; */
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
    }
    a:hover {
      color: var(--btn-color) !important;
    }
  }
  .resume:hover {
    transform: scale(1.05);
    background-color: var(--btn-text-color);
    color: var(--btn-color) !important;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    a {
      color: var(--btn-color) !important;
    }
  }

  .email {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .gmailIcon {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .emailText {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.5px;
    word-break: break-all;
  }

  .certBadge {
    height: 120px;
    width: 120px;
    transition: transform 0.3s ease;
    max-width: 100%;
  }

  .certBadge:hover {
    transform: scale(1.05);
  }
}

@media (width >= 800px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .info {
      max-width: 400px;
      width: auto;
    }
    .profile_picture {
      border-radius: 50%;
      max-width: 350px;
      max-height: auto;
    }
  }
}

@media (width >= 1400px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .info {
      max-width: 500px;
      width: auto;
    }

    .profile_picture {
      border-radius: 50%;
      max-width: 450px;
      max-height: auto;
    }
  }
}
