.navbar {
  display: flex;
  background-color: var(--navbar-color);
  padding: 10px 10px;
  font-size: auto;
  justify-content: space-between;
  color: var(--accent-color);

  position: fixed; /* Fixes the navbar to the viewport */
  top: 0; /* Aligns the navbar to the top edge of the viewport */
  left: 0; /* Aligns the navbar to the left edge of the viewport */
  right: 0; /* Ensures the navbar extends to the right edge of the viewport */
  z-index: 1000; /* Keeps the navbar on top of other page elements */
  width: 100%;
  padding: 10px 10px;
}

.Home {
  display: flex;
  /* justify-content: left; */
  align-items: center;
  gap: 10px;
  margin-left: 50px;

  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: var(--navbar-text-color);
  }
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
  padding: 10px 10px;

  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: var(--navbar-text-color);
    /* transform: scale(1.05); */
  }
}

@media (width <= 800px) {
  .navbar {
    .Home {
      display: flex;
      /* justify-content: left; */
      align-items: center;
      gap: 10px;
      margin-left: 20px;
    }

    .nav_links {
      list-style: none;
      flex-wrap: wrap;
      gap: 20px;
      margin-right: 20px;
      padding: 10px 10px;
    }
  }
}
