.container {
  text-align: center;
  background-color: var(--navbar-color);
  margin: 0px auto 0px;
  padding: 30px 0% 30px;

  p {
    font-size: 16px;
    color: var(--accent-color);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 4% 20px;
  }

  .container p {
    font-size: 14px;
    line-height: 1.5;
  }
}