:root {
  --background-color: #bcbcbc;
  --navbar-color: #25282a;
  --navbar-text-color: #ffffff;
  --primary-color: #fd2a2a;
  --secondary-color: #25282a;
  --accent-color: #e2e2b6;
  --btn-color: #0091ff;
  --btn-text-color: #ffffff;
  --project-text-color: #ffffff;
  --project-card-bg: #6e6e6e;
  --text-color: #000000;
  --form-text-color: #e2e2b6;
  --footer-text-color: #6eacda;
}

body {
  background-color: var(--background-color);
  /* display: flex; */
  justify-content: center;
  /* margin: 60px auto 60px; */
}

#root {
  /* display: flex; */
  flex-direction: column;
  align-items: stretch;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
}

@media (width >= 1400px) {
  #root {
    gap: 200px;
  }
  h1 {
    font-size: 48px;
  }
}
